// Place all the styles related to the lots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination{
  background: white;
  cursor: default;
  height: 22px;
  a,span,em{
    padding:0.2em 0.5em;
    display: block;
    float:left;
    margin-right: 1px;
  }
}